/*  your css code here. If applicable */
.grid {
	  display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
	  text-align:center;
.grid-item{
	background-color:rgb(242, 242, 242);
	border:1px solid rgb(204, 204, 204);
	padding:20px;
}