/*  your css code here. If applicable */
.grid {
	  display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
	  text-align:center;
.box {
	background-color:#f2f2f2;
	border:1px solid #ccc;
	padding:20px;
}